node_modules
dist
.env
resources
.hugo_build.lock
public
themes/reveal-hugo-custom/assets/reveal-js/css/theme/.DS_Store
themes/.DS_Store
themes/reveal-hugo-custom/.DS_Store
themes/reveal-hugo-custom/assets/.DS_Store
themes/reveal-hugo-custom/assets/reveal-js/.DS_Store
themes/reveal-hugo-custom/assets/reveal-js/css/.DS_Store
themes/reveal-hugo-custom/exampleSite/.DS_Store
themes/reveal-hugo-custom/layouts/.DS_Store
themes/reveal-hugo-custom/layouts/partials/.DS_Store
themes/reveal-hugo-custom/static/.DS_Store
themes/reveal-hugo-custom/content/kapitel1/.DS_Store
themes/reveal-hugo-custom/content/.DS_Store
.DS_Store
content/.DS_Store
content/kapitel1/.DS_Store
